.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.display{
width: 80%;
    height: 20vh;
    border : solid 2px #8383E7FF;
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.panel{
    width: 80%;
    height: 10vh;
    border : solid 2px #8383E7FF;
    border-radius: 10px;
    display: flex;
justify-content: center;
    align-items: center;
    gap: 30%;
}

.count{
   position: relative;
    left: 45%;
    top: 0%;
    text-align: center;
    font-size: 40px;

}

.input{
    width: 20%;
    border : solid 2px #8383E7FF;
    border-radius: 10px;
}

.setRow{
    display: flex;
    justify-content: space-between;
}
